@import "./base.css";
@import "tailwindcss";

#app {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: normal;
}

button {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &:disabled {
    cursor: default;
    opacity: 1;
    background-color: var(--color-background-disabled) !important;
  }
}

.focusable {
  outline: none;
  &:focus-visible {
    outline: 2px solid #3b82f6;
  }
}
ion-icon {
  fill: currentColor;
}
